@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(to right, #ececec, #ececec);
  }
  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 2rem 9%;
    background: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    overflow-x: hidden;
    font-size: 1.2em;
    
  }
  .container{
    max-width: 700px;
    width: 100%;
    background-color:white;
    padding: 25px 30px;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgb(87, 87, 87);
    margin-top: 60px;
  }
  .container .title{
    font-size: 35px;
    font-weight: 500;
    position: relative;
  }
  .container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100px;
    border-radius: 5px;
    background: linear-gradient(135deg, orange, yellow);
  }
  .content button {
    display: inline-block;
    background-color: #ff4500;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}
.content button:hover{
  background-color: #162938;
  transform: scale(1.1);
}
  .content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    font-size: 14px;
    width: calc(100% / 2 - 20px);
  }
  form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid orange;
    border-bottom-width: 4px;
    transition: all 0.15s ease;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    border-color: orange;
    border-radius: 10px;
    border-width: 5px;
  }
   form .gender-details .gender-title{
    font-size: 14px;
    font-weight: 500;
   }
   form .category{
     display: flex;
     width: 80%;
     margin: 14px 0 ;
     justify-content: space-between;
   }
   form .category label{
     display: flex;
     align-items: center;
     cursor: pointer;
   }
   form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #eac17a;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
   #dot-1:checked ~ .category label .one,
   #dot-2:checked ~ .category label .two,
   #dot-3:checked ~ .category label .three{
     background: yellow;
     border-color: orange;
   }
   form input[type="radio"]{
     display: none;
   }
   form .button{
     height: 45px;
     margin: 35px 0
   }
   form .button input{
     height: 100%;
     width: 100%;
     border-radius: 5px;
     border: none;
     color: #fff;
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     cursor: pointer;
     transition: all 0.3s ease;
     background: linear-gradient(135deg, #71b7e6, #0f0b11);
   }
   form .button input:hover{
    background: linear-gradient(-135deg, orange, #080409);
    }
   @media(max-width: 584px){
   .container{
    max-width: 100%;
  }
  form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }
    form .category{
      width: 100%;
    }
    .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
      width: 5px;
    }
    }
    @media(max-width: 459px){
    .container .content .category{
      flex-direction: column;
    }
  }

.civil-status-details {
    margin-bottom: 20px;
}

.civil-status-title {
    font-size: 20px;
    font-weight: 500;
}

form .category{
    display: flex;
    width: 80%;
    margin: 14px 0 ;
    justify-content: space-between;
  }
  form .category label{
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
  }
  form .category label .dot{
   height: 18px;
   width: 18px;
   border-radius: 50%;
   margin-right: 10px;
   background: orange;
   border: 5px solid transparent;
   transition: all 0.3s ease;
 }

  #civil-dot-1:checked ~ .category label .one,
  #civil-dot-2:checked ~ .category label .two,
  #civil-dot-3:checked ~ .category label .three,
  #civil-dot-4:checked ~ .category label .four {
    background: yellow;
    border-color: orange;
  }
  form input[type="radio"]{
    display: none;
  }
  form .button{
    height: 45px;
    margin: 35px 0
  }
  form .button input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, orange, #9b59b6);
  }
  form .button input:hover{
   background: linear-gradient(-135deg, orange, orange);
   }

.file-input {
    margin-bottom: 20px;
}

.file-input input[type="file"] {
    display: none;
}

.file-input label {
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    background-color: rgb(221, 162, 52);
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.file-input label:hover {
    background-color: #8e44ad;
}
.logo{
  font-size: 20px ;
  color: white;
  font-weight: 600;
  cursor: default;
  text-decoration: none;
}
.navbar a{
  font-weight: 600;
  font-size: 20px ;
  color: black;
  margin-left: 4rem;
  text-decoration: none;
}
.navbar a:hover,
.navbar a.active{
  color:white;
  font-size: 20px ;
  text-decoration: none;
}

@media screen and (max-width: 768px){
  .heading h1{
      font-size: 45px;
      margin-top: 30px;
  }
  .about{
      margin: 0px;
  }
  .container{
      width: 100%;
      flex-direction: column;
      margin: 0px;
      padding: 0px 40px;
  }
  .about-content{
      width: 100%;
      margin: 35px 0px;
  }
  .about-content h2{
      font-size: 30px;
  }
  .about-content p{
      font-size: 18px;
      margin-bottom: 20px;
  }
  .content button{
      font-size: 16px;
      padding: 8px 16px;
  }
  .about-image{
      width: 100%;
  }
}
@keyframes fadeInUp{
  0%{
      opacity: 0;
      transform: translateY(50px);
  }
  100%{
      opacity: 1;
      transform: translateY(0px);
  }
}
@keyframes fadeInRight{
  0%{
      opacity: 0;
      transform: translateX(-50px);
  }
  100%{
      opacity: 1;
      transform: translateX(0px);
  }
}