@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(to right, #ececec, #ececec);
  }
  .container{
    max-width: 700px;
    width: 100%;
    background-color: white;
    padding: 25px 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px rgb(87, 87, 87);
  }
  .container .title{
    font-size: 35px;
    font-weight: 500;
    position: relative;
  }
  .container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100px;
    border-radius: 5px;
    background: linear-gradient(135deg, orange, yellow);
  }
  .content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    font-size: 14px;
    width: calc(100% / 2 - 20px);
  }
  form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid orange;
    border-bottom-width: 4px;
    transition: all 0.15s ease;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    border-color: orange;
    border-radius: 10px;
    border-width: 5px;
  }
  form .gender-details .gender-title{
    font-size: 14px;
    font-weight: 500;
   }
   form .category{
     display: flex;
     width: 70%;
     margin: 14px 0 ;
     justify-content: space-between;
   }
   form .category label{
     display: flex;
     align-items: center;
     cursor: pointer;
   }
   form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: rgb(0, 174, 255);
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
   #dot-1:checked ~ .category label .one,
   #dot-2:checked ~ .category label .two,
   #dot-3:checked ~ .category label .three{
    background: rgb(225, 242, 250);
    border-color: rgb(0, 174, 255);
   }
   form input[type="radio"]{
     display: none;
   }
   .civil-status-details {
    margin-bottom: 20px;
}

.civil-status-title {
    font-size: 20px;
    font-weight: 500;
}

  #civil-dot-1:checked ~ .category label .one,
  #civil-dot-2:checked ~ .category label .two,
  #civil-dot-3:checked ~ .category label .three {
    background: rgb(225, 242, 250);
    border-color: rgb(0, 174, 255);
  }
  form input[type="radio"]{
    display: none;
  }


  .bh-occupants-details {
    justify-content: space-between;
    margin-bottom: 10px;
}


.bh-occupants-title {
    font-size: 20px;
    font-weight: 500;
}
  #occupants-dot-1:checked ~ .category label .one,
  #occupants-dot-2:checked ~ .category label .two,
  #occupants-dot-3:checked ~ .category label .three,
  #occupants-dot-4:checked ~ .category label .four {
    background: rgb(225, 242, 250);
    border-color: rgb(0, 174, 255);
  }
  form input[type="radio"]{
    display: none;
  }

   form .button{
     height: 45px;
     margin: 35px 0
   }
   form .button input{
     height: 100%;
     width: 100%;
     border-radius: 5px;
     border: none;
     color: #fff;
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     cursor: pointer;
     transition: all 0.3s ease;
     background: linear-gradient(135deg, #71b7e6, #0f0b11);
   }
   form .button input:hover{
    background: linear-gradient(-135deg, orange, #080409);
    }
   @media(max-width: 584px){
   .container{
    max-width: 100%;
  }
  form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }
    form .category{
      width: 100%;
    }
    .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
      width: 5px;
    }
    }
    @media(max-width: 459px){
    .container .content .category{
      flex-direction: column;
    }
  }

.civil-status-details {
    margin-bottom: 20px;
}

.civil-status-title {
    font-size: 20px;
    font-weight: 500;
}

form .category{
    display: flex;
    width: 80%;
    margin: 14px 0 ;
    justify-content: space-between;
  }
  form .category label{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  form .category label .dot{
   height: 18px;
   width: 18px;
   border-radius: 50%;
   margin-right: 10px;
   background: orange;
   border: 5px solid transparent;
   transition: all 0.3s ease;
 }

  #civil-dot-1:checked ~ .category label .one,
  #civil-dot-2:checked ~ .category label .two,
  #civil-dot-3:checked ~ .category label .three,
  #civil-dot-4:checked ~ .category label .four {
    background: yellow;
    border-color: orange;
  }
  form input[type="radio"]{
    display: none;
  }
  form .button{
    height: 45px;
    margin: 35px 0
  }
  form .button input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, orange, #9b59b6);
  }
  form .button input:hover{
    background: linear-gradient(-135deg, orange, orange);
   }

.file-input {
    margin-bottom: 20px;
}

.file-input input[type="file"] {
    display: none;
}

.file-input label {
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    background-color: rgb(221, 162, 52);
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.file-input label:hover {
    background-color: #8e44ad;
}
.scrollable {
    height: 600px; 
    overflow-y:scroll;
    scrollbar-width: thin;
    color: #0f0b11;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 2rem 9%;
  background: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  overflow-x: hidden;
  font-size: 1.2em;
  
}
.logo{
  font-size: 20px ;
  color: white;
  font-weight: 600;
  cursor: default;
  text-decoration: none;
}
.navbar a{
  font-weight: 600;
  font-size: 20px ;
  color: black;
  margin-left: 4rem;
  text-decoration: none;
}
.navbar a:hover,
.navbar a.active{
  color:white;
  font-size: 20px ;
  text-decoration: none;
}

.bh-occupants-details{
  margin-bottom: 20px;
}

.bh-occupants-title {
  font-size: 20px;
  font-weight: 500;
}

form .category{
  display: flex;
  width: 80%;
  margin: 14px 0 ;
  justify-content: space-between;
}
form .category label{
  display: flex;
  align-items: center;
  cursor: pointer;
}
form .category label .dot{
height: 18px;
width: 18px;
border-radius: 50%;
margin-right: 10px;
background: rgb(0, 174, 255);
border: 5px solid transparent;
transition: all 0.3s ease;
}

#occupants-dot-1:checked ~ .category label .one,
#occupants-dot-2:checked ~ .category label .two,
#coccupants-dot-3:checked ~ .category label .three,
#occupants-dot-4:checked ~ .category label .four {
  background: rgb(225, 242, 250);
  border-color: rgb(0, 174, 255);
}
form input[type="radio"]{
  display: none;
}